#about {
  // background-image: url(https://res.cloudinary.com/dyqesnour/image/upload/v1532762880/portfoliov5bgs1_lscyhy.png);
  background: linear-gradient(to right, #86bbd8, #3e92cc);

  .draggable.headings {
    bottom: 70%;
    right: 82%;

    @media screen and (max-width: 480px) {
      bottom: 70%;
      right: 50%;
      transform: translateX(+50%);
      text-align: center;
    }
  }

  .about-content {
    position: absolute;
    width: 640px;
    max-width: 80%;
    bottom: 18%;
    right: 10%;
    color: white;
    padding: 16px;

    @media screen and( max-width: 480px ) {
      bottom: 70%;
      right: 50%;
      transform: translateX(+50%) translateY(100%);
    }

    p {
      max-width: 100%;
    }
  }
}
