#contact {
  background-image: url(https://res.cloudinary.com/dyqesnour/image/upload/v1532762880/portfoliov5bgs3_k6kfty.png);

  .draggable.headings {
    bottom: 70%; right: 70%;
    
    @media screen and (max-width: 480px) {
      transform: translateX(+50%);
      width: max-content;
      bottom: 73%; right: 70%;
    }

    h4 {
      display: inline-block;
      margin: 0;
    }
  }
}
