.home {
  // background-image: url(https://res.cloudinary.com/dyqesnour/image/upload/v1532762880/portfoliov5bgs_mqjsqj.png);
  background: linear-gradient(to right, #142c63, #86bbd8);

  .headings {
    bottom: 66%; right: 66%;
    width: max-content;

    @media screen and (max-width: 480px){
      width: 270px;
      right: 50%; bottom: 59%;
    }
  }
}

