.home {
  background-image: url(https://res.cloudinary.com/dyqesnour/image/upload/v1532762880/portfoliov5bgs_mqjsqj.png);
  
  .headings {
    bottom: 40%; right: 42%;

    @media screen and (max-width: 480px){
      width: 240px;
      right: 24%; bottom: 64%;
    }
  }
}

