//variables
$neutral-buttons: hsl(0, 0, 34.5%);
$neutral-button-box: hsl(0, 0, 24.5%);
$light-buttons: #fffdff;
$light-button-box: #cccbcc;

// global styles
body,
html,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  transform-origin: 0 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.headings,
a {
  color: white;
}

a {
  transition: all 0.4s;
}

a:hover {
  color: #333;
}

footer {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 100px;

}
header {
  z-index: 10000;
  position: absolute;
  width: 100%;
}
nav {
  display: flex;
  flex-wrap: wrap;
  width: 200px;

  .nav-button {
    display: block;
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    box-sizing: border-box;
    border-collapse: collapse;
    outline: none;

    &.animate {
      animation-name: flash;
      animation-delay: 0.8s;
      animation-duration: 0.8s;
      animation-direction: normal;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }

  #home-nav {
    animation-delay: 0.4s;
  }
  #about-nav {
    animation-delay: 0.8s;
  }
  #contact-nav {
    animation-delay: 1.2s;
  }
  #work-nav {
    animation-delay: 1.6s;
  }
}

#view {
  position: fixed;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

#viewbox {
  display: flex;
  width: 400vw;
  height: 100vh;
  transition: all 0.8s;
  position: absolute;
}

.page-view {
  width: 100vw;
  /* border: 1px solid black; */
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: calc(100% + 2px) calc(100% + 2px);
}

.content-container {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: max-content;
  opacity: 0;
  overflow-y: scroll;
  @media screen and (max-width: 480px){
    overflow-y: scroll;
  }

  &:hover {
    overflow-y: scroll;
  }
}

.active-view .content-container {
  animation-name: fadeIn;
  animation-delay: 0.4s;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
 
}

.draggable {
  position: absolute;
  transform: translateX(+50%) translateY(0%);

  .drag-handle {
    display: none;
    position: absolute;
    top: 0;
    left: -7px;
    transform: translateY(-50%);

    color: white;
    background-color: transparent;
    z-index: 10000;
  }
}

.view-handles .drag-handle {
  display: block;
}

.info-modal {
  width: 95%;
  height: 95%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  border-radius: 5px;
  display: none;
  flex-wrap: wrap;
  z-index: 20000;
  color: #3e3e3e;

  .modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 48px 24px;
    overflow-y: scroll;

    a {
      color: #777;

      &:hover {
        color: #ccc;
      }
    }
  }
}

.neutral-button {
  position: absolute;
  color: white;
  background-color: $neutral-buttons;
  border-radius: 5px;
  box-shadow: 0 4px 0 $neutral-button-box;
  transition: all 0.05s;
  border-color: $neutral-buttons;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 0 $neutral-button-box;
  }

  &.close,
  &.info-toggle {
    width: 24px;
    height: 24px;
    top: 5px;
    right: 5px;
    z-index: 20000;
    text-align: center;
    padding: 0;
    font-size: 12px;
    &:hover {
      top: 7px;
    }
  }
}

.drag-toggle {
  width: 40px;
  height: 28px;
  border-radius: 14px;
  position: absolute;
  top: 5px;
  right: 36px;
  // background: linear-gradient(to bottom, #9e9e9e 30%, #f4f4f4);
  // border: 2px solid $light-buttons;
  // box-shadow: inset 0 0 4px $light-button-box;
  // box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #969494;
  box-shadow: 0 1px 0 0 #999, 0 -1px 0 0 #969494;
  background: #3e3e3e;
  cursor: pointer;
  transition: all 0.2s;

  &::before {
    content: " ";
    position: absolute;
    // border: 1px solid #8b8c8e;
    box-shadow: inset 0 0 0px 1px #8b8c8e;
    width: 90%;
    height: 90%;
    border-radius: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1f1f1f;
    transition: all 0.2s;
  }
  &::after {
    content: " ";
    background-color: $neutral-buttons;
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 100%;
    left: 34%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
    box-shadow: inset 0 0 0 2px #3e3e3e;
  }

  &:hover:after {
    background-color: #999;
  }
}

.view-handles .drag-toggle {
  &::before {
    background: #ddd;
  }
  &::after {
    left: 66%;
  }
}

.info-modal-open .info-modal {
  display: block;
}

//page specific
@import "./home.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./work.scss";

@keyframes flash {
  0% {
    background-color: transparent;
    color: white;
  }
  50% {
    background-color: white;
    color: black;
  }
  100% {
    background-color: transparent;
    color: white;
  }
}

@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0 ;}
}
