// global styles
body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  right: 0;
}
header {
  z-index: 10000;
  position: absolute;
}
nav {
  display: flex;
  flex-wrap: wrap;
  width: 200px;

  .nav-button {
    display: block;
    width: 50%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    text-decoration: none;
    border: 1px solid black;
    box-sizing: border-box;
    border-collapse: collapse;
    outline: none;
  }
}

#view {
  position: fixed;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

#viewbox {
  display: flex;
  width: 400vw;
  height: 100vh;
  transition: all 0.8s;
  position: absolute;
}

.page-view {
  width: 100vw;
  /* border: 1px solid black; */
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: calc(100% + 2px) calc(100% + 2px);
}

.content-container {
  width: 100%;
  height: 100%;
  position: relative;
} 

.draggable {
  position: absolute;
  
  .drag-handle {
    display: none;
    position: absolute;
    top: -9px;
    left: -7px;
    background-color: grey;
    z-index: 10000;

  }
}

.view-handles .drag-handle {
  display: block;
}

.info-modal {
  width: 95%;
  height: 95%; 
  background-color: rgba(255,255,255,0.8);
  position: absolute;
  bottom: 2.5%;
  right: 2.5%;
  border-radius: 5px;
  display: none; 
  flex-wrap: wrap;
  z-index: 20000;
}

.info-modal-open .info-modal {
  display: block;
}

//page specific
@import "./home.scss";
@import "./about.scss";
@import "./contact.scss";
@import "./work.scss";
