#work {
  .project-modal {
    width: 95%;
    height: 95%; 
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    border-radius: 5px;
    // transform: translate(-50%, -50%);
    // display: none;
  }
}