#work {
  background-image: url(https://res.cloudinary.com/dyqesnour/image/upload/v1532762880/portfoliov5bgs2_ifukft.png);

  .project-modal {
    width: 95%;
    height: 95%; 
    background-color: rgba(255,255,255,0.9);
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    border-radius: 5px;
    display: none; 
    // flex-wrap: wrap;
    z-index: 20000;

    .close { position: absolute; top: 0; right: 0;}
  }

  &.modal-open .project-modal {
    display: block;
  }

  .button-grid {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    // padding: 24px 0;
    position: relative;
    height: 100%;
  }

  .project-button {
    height: 96px;
    width: 96px;
    // margin: 8px 24px 16px;
    border-radius: 24px;
  }

  .button-container {
    bottom: calc(100% - 96px); right: 100%;
    // transition: all 1.2s;
    transform: translateX(+150%) translateY(+0%);

  }
}
