// $button-sprites: "https://res.cloudinary.com/dyqesnour/image/upload/v1535880072/Portfolio/workSprites.png";
$button-sprites: "https://res.cloudinary.com/dyqesnour/image/upload/v1536459281/Portfolio/workSprites.png";
$gradient1: radial-gradient(circle, rgba(80, 80, 80, 1) 0%, rgba(40, 40, 40, 1) 100%);

#work {
  background-image: url(https://res.cloudinary.com/dyqesnour/image/upload/v1532762880/portfoliov5bgs2_ifukft.png);

  .project-modal {
    width: 95%;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    border-radius: 5px;
    display: none;
    // flex-wrap: wrap;
    z-index: 20000;

    .close {
      position: absolute; /* top: 0; right: 0; */
    }
  }

  &.modal-open {
    .project-modal {
      display: block;
      animation: fadeIn 0.4s ease-in-out 0s 1 normal forwards;
    }

    .content-container {
      z-index: 10000;
    }
  }

  .draggable.headings {
    right: calc(80% - 50px);
    width: 200px;
    bottom: 80%;
  }

  .button-grid {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    // padding: 24px 0;
    position: relative;
    height: 100%;
  }

  .project-button {
    height: 96px;
    width: 96px;
    // margin: 8px 24px 16px;
    border-radius: 24px;

    @media screen and (max-width: 480px) {
      height: 72px;
      width: 72px;
    }
  }

  .button-container {
    bottom: calc((100% - 96px) - 20%);
    right: calc(100% - 96px);
    // transition: all 1.2s;
    // transform: translateX(+200%) translateY(+0%);

    h5 {
      position: absolute;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }

    .project-button {
      background: url($button-sprites), $gradient1;
      background-size: auto 96px;

      @media screen and (max-width: 480px) {
        background-size: auto 72px;
      }
    }

    @for $i from 1 through 8 {
      @if ($i < 5) {
        &[data-col="#{$i}"] {
          right: #{100% - (20 * $i)};
        }

        button[data-desc-order="#{$i - 1}"] {
          // background-position: #{$i * 96 - 97}px 0px;
          background-position: #{95 - $i * 96}px 0px;

          @media screen and (max-width: 480px) {
            background-position: #{71 - $i * 72}px 0px;
          }
        }
      } @else {
        &:nth-child(#{$i + 2}) {
          bottom: calc(60% - 96px);
        }

        button[data-desc-order="#{$i - 1}"] {
          // background-position: #{$i * 96 - 97}px 0px;

          background-position: #{95 - $i * 96}px 0px;
          @media screen and (max-width: 480px) {
            background-position: #{71 - $i * 72}px 0px;
          }
        }
      }
    }

    button {
      box-shadow: white 0 0 4px 0px;
      transition: box-shadow 0.4s;
      cursor: pointer;

      &:hover {
        box-shadow: white 0 0 12px 3px;
      }
    }
  }

  .project-modal {
    overflow: scroll;
    .words {
      padding: 12px 32px;
      h2 {
        text-align: center;
      }

      img {
        max-width: 480px;
        width: 100%;
        display: block;
        margin: 0 auto;
      }
      a {
        color: $link-color;
        margin-right: 12px;
      }

      .tech {
        display: flex;
        margin-bottom: 24px;
        .stack,
        .lib {
          width: 50%;
        }
      }
    }
  }
}
