<div id="about" class="about page-view">
    <div class="content-container">
        <div class="draggable headings">
            <h2>What I'm About</h2>
            <h3>A little about me</h3>
        </div>

        <div class="about-content">
            <p>I just like to make things. It's always been that way. Stacking lego, throwing paint at a canvas, or better yet - my bedroom walls (sorry Mum!), playing with cameras or nailing blocks of wood together for no apparent reason; I revel in the act of creative expression and I live to solve a problem.</p>

            <p>The projects displayed here were created during my time as a Web Development student at General Assembly, where I put my affinity for making and problem solving to good use. Over a 3 month, full time course, I made things every day. I explored, I experimented and I loved every minute of it.</p>
            <p>Perhaps I could make things for you?</p>
            <p>I am currently working as a Junior Front End Developer for a digital agency in Surry Hills</p>
        </div>
    </div>

</div>