<div class="info-modal">
    <button class="neutral-button close">X</button>
    <div class="modal-content">
        <h2>About this portfolio</h2>

        <h4>Finding Feng Shui</h4>
        <p>Don't like the flow of my UI? Click the toggle, use the click-and-drag handles to move stuff around then
            <a href="https://twitter.com/theechriswill" target="_blank">send me a screenshot</a>
            when you've got something good (or very very bad).
        </p>

        <h4>What is this place?</h4>
        <p>All the features of this portfolio were written by me in vanilla JS because having an understanding of the fundamentals is important to me. I used SCSS to modulate my css and make use of functions, and used gulp to tie everything together and make for a nicer dev environment.</p>
    </div>
</div>