<div id="work" class="work page-view">
  <div class="content-container">
      <div class="project-modal">
          <div class="content"></div>
          <button class="close">X</button>
      </div>
      <div class="button-grid">
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
          <button class="project-button open-modal"></button>
      </div>
  </div>
  <!-- content container -->
</div>