<div id="work" class="work page-view">
    <div class="content-container">
        <div class="project-modal">
            <div class="content"></div>
            <button class="neutral-button close">X</button>
        </div>
        <!-- <div class="button-grid"> -->
            <div class="draggable headings">
                <h3>Personal Projects</h3>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called EffTheGym" class="project-button open-modal" id="effthegym"></button>
                <h5>EffTheGym</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called PixelDeli" class="project-button open-modal" id="pixeldeli"></button>
                <h5>Pixel Deli</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called Scrilla" class="project-button open-modal" id="scrilla"></button>
                <h5>Scrilla</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called Quot" class="project-button open-modal" id="quot"></button>
                <h5>&amp;quot;</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called Grumble" class="project-button open-modal" id="grumble"></button>
                <h5>Grumble</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called Hotbox" class="project-button open-modal" id="hotbox" ></button>
                <h5>Hotbox</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for personal project called Soundbar" class="project-button open-modal" id="soundbar"></button>
                <h5>Soundbar</h5>
            </div>
            <div class="button-container draggable">
                <button aria-label="Bring up info for my personal portfolios" class="project-button open-modal" id="portfolios"></button>
                <h5>Portfolios</h5>
            </div>
        <!-- </div> -->
    </div>
    <!-- content container -->
</div>