<div id="work" class="work page-view">
    <div class="content-container">
        <div class="project-modal">
            <div class="content"></div>
            <button class="neutral-button close">X</button>
        </div>
        <!-- <div class="button-grid"> -->
            <div class="draggable headings">
                <h3>Things I made at Bootcamp</h3>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="effthegym"></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="soundbar"></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="hotbox"></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="grumble"></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="quot"></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="scrilla" ></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal" id="pixeldeli"></button>
            </div>
            <div class="button-container draggable">
                <button class="project-button open-modal"></button>
            </div>
        <!-- </div> -->
    </div>
    <!-- content container -->
</div>